
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

body{background-color: #8ee4af;
    color: black;
    font-family: 'Protest Strike';
    font-size: larger;
    margin: 1.4px;

}
    nav ul {
        
        list-style-type: none;
        font-family: 'Protest Strike';
        background: black;
        padding: 0px;
      }
      li {
        display: inline-block;
        padding: 1rem; 
        border-left: px solid white; 
      }
      a {
        color: white;
        text-decoration: none;

          border-bottom: 2px solid white;
        }
      

