
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

body{background-color: #8ee4af;
    color: rgb(21, 239, 72);
    font-family: 'Protest Strike';
    font-size: larger;
    margin: 1.4px;
    background-image: url(Images/cool-background.png);

}
    nav ul {
        
        list-style-type: none;
        font-family: 'Protest Strike';
        background: rgb(104, 29, 245);
        padding: 0px;
      }
      li {
        display: inline-block;
        padding: 1rem; 
        border-left: px solid white; 
      }
      a {
        color: rgb(255, 255, 255);
        text-decoration: none;

          border-bottom: 2px solid white;
        }
        a:hover {color: rgb(64, 179, 54);}



nav.sticky {
  position: sticky;

  top: 0;
}
li.navb>a.navl:hover{
  font-size: large;
}
#contact {
  color: #17ea37; font-family:Protest Strike; border: 0;text-align: center;
}

.footer {
  background-color: rgb(19, 26, 127);
}

input:focus {
  background-color: rgb(162, 246, 254);
  border-color: rgb(162, 246, 254);
}
.info {width: 300px; padding: 8px;}


.nav li:nth-child(odd) {
  display: inline-block;
  background-color: #8ee4af;
}


@media (main-with: 600px) {
  P {
     font-size: 1.25rem;
  }
}

